<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>931982465423-q5plmf9gmgr6ib1hjqrcl4f1lkspbbsd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.931982465423-q5plmf9gmgr6ib1hjqrcl4f1lkspbbsd</string>
	<key>API_KEY</key>
	<string>AIzaSyA2T6RmK90wnxyo7OvZL2-YmshGngsqAeU</string>
	<key>GCM_SENDER_ID</key>
	<string>931982465423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.alllll.quiz.quizTest</string>
	<key>PROJECT_ID</key>
	<string>quiz-e531e</string>
	<key>STORAGE_BUCKET</key>
	<string>quiz-e531e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:931982465423:ios:17f1c83a50f4ff470393fa</string>
</dict>
</plist>